parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false

    disableMigrationScan: true
    disableSchemaScan: true
    checkModelProperties: false
    checkModelAppends: false
